#Contact{
    margin-top: 4rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    margin: 1rem auto;
    margin-bottom: 3rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#Contact .heading{
    max-width: max-content;
    align-items: center;
margin-bottom: 3rem;
font-size: 3.5rem;
line-height: 1.2;
}
#Contact  span{
    color: var(--main-color);
}
.contact-S1 {
    width: 45%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.contact-S1  .input-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.contact-S1  .input-box input{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--snd-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}
.contact-S1  .btn{
    margin-top: 2rem;
    cursor: pointer;
    padding: 1rem 2.8rem;
    background-color: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    text-decoration: none;
    letter-spacing: .1rem;
    border: none;
}
.contact-S1 .btn:hover {
    box-shadow: none;
}
@media screen and (max-width:992px) {
    .container{
        justify-content: center;
    }
    .contact-S1 {
        width: 100%;
    margin-top: 4rem;}
    .contact-S1  .input-box{
        justify-content: center;
    }
    .contact-S1  .input-box input{
        width: 90%;
    }
}